:root{
    --header-height: 70px;
    --footer-height: 120px;

    --background-image: url("https://github.com/LoveIsDrug/New-introduce/blob/master/assets/image/bg.png");
    --text-color: #111;
    --hover-line-color: #3d6ef7;
    --secondary-color: #797979;
}

.dark-theme{
    --background-image: url("/assets/image/darkbg.png");
    --text-color: #fff;
    --hover-line-color: red;
    --secondary-color: #797979;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.grid__full-width{
  max-width: 1440px;
  padding: 0 30px;
  margin: auto;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.grid__column-2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 83.3333%;
}

.grid__column-5{
    padding-left: 10px;
    padding-right: 10px;
    width: 41.6667%;
}

.grid__column-7{
    padding-left: 10px;
    padding-right: 10px;
    width: 58.33333%;
}