/* mobile & tablet */
@media (max-width: 1023px) {
    
}
/*tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .grid__full-width{
        padding: 0 30px;
    }
}

/* mobile*/
@media (max-width: 739px) {
    .grid__full-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        background: #111;
        display: block;
    }
    .navbar .menu li{
        top: 0;
        left: 0;
        display: inline-block;
        z-index: 10;

    }
    .navbar .menu li .menu-link{
        width: 100%;
        color: #fff;
    }
}