@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
.main{
  width: 100%;
  min-height: 100vh;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}

.navbar{
  height: var(--header-height);
  width: 100%;
  position: fixed;
  width: 100%;
  z-index: 9;
  line-height: 40px;
}

.navbar.sticky{
  padding:  5px 0;
  background: #fff;
}

.navbar .grid__full-width{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 100px;
  cursor: pointer;
}

.navbar .menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.navbar .menu .link {
  display: inline-block;
  margin: 10px 20px;
  list-style: none;
}
.navbar .menu .link .menu-link{
  text-decoration: none;
  font-weight: 600;
  color: var(--text-color);
  font-size: 1.6rem;
  text-transform: capitalize;
  transition: .5s;
}

.menu .link.active
{
  color: blue;
}

.logoNSlogan__wrapper{
  display: flex;
  margin: auto 0;
}

.heart{
  position: relative;
  height: 20px;
  width: 20px;
  background: #f20044;
  transform: rotate(-45deg);
  box-shadow: -1px 1px 20px red;
  top: 25px;
  animation: heart 0.6s linear infinite;
}

@keyframes heart{
  0%{
    transform: rotate(-45deg) scale(1.05);
  }
  50%{
    transform: rotate(-45deg) scale(1.0);
  }
  100%{
    transform: rotate(-45deg) scale(1.06);
  }
}

.heart::before{
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #f20044;
  top: -50%;
  border-radius: 50px;
  box-shadow: -1px -1px 20px red;
}

.heart::after{
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #f20044;
  right: -50%;
  border-radius: 50px;
  box-shadow: 1px 1px 20px red;
}

/* .Slogan{
  font-family: "Caveat", cursive;
  font-size: 2.4rem;
  font-weight: 600;
  color: #797979;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.line-effect{
  width: 0px;
  height: 2px;
  background-color: var(--hover-line-color);
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}

#dark{
  width: 30px;
  cursor: pointer;
}

/* menu btn style */
.menu-btn{
  color: var(--text-color);
  font-size: 1.6rem;
  cursor: pointer;
  display: none;
}

/* body */
section {
  width: 100%;
  min-height: 100vh;
}

section .heading {
  position: relative;
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

section .heading::after{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 4rem;
  color: crimson;
  padding: 0 5px;
}


/* intro  */
.intro-section{
  max-height: 100vh;
  padding: 150px 100px 100px;
  position: fixed;
  top: 0;
  opacity: 0;
  display: flex;
  transition: .25s;
  top: 0;
}

.intro-section.active,
.project-section.active,
.about-section.active,
.contact-section.active
{
  position: relative;
  opacity: 1;
  z-index: 8;
}

section .intro--wrapper--greeting{
  position: relative;
  right: 20px;
  height: 100%;
  line-height: 4rem;
  font-family: 'Ubuntu', sans-serif;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}

section .intro--wrapper--greeting h2{
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 0.5;
  line-height: 30px;
  color: #797979;
}

section .intro--wrapper--greeting h1{
  color: var(--text-color);
  letter-spacing: 0.5;
  font-size: 4.5rem;
  margin: 10px 0;
}

section .intro--wrapper--greeting h4{
  font-weight: 500;
  color: var(--text-color);
  font-size: 4rem;
  line-height: 30px;
  margin: 30px 0;
}

section .intro--wrapper--greeting h4 span{
  color: #f20044;
}

/* type Cursor */
.typed-cursor {
  font-weight: 300;
}

/* social button  */
.social--wrapper {
  float: left;
  display: flex;
}

.social .button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  margin: 0 5px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.social .button:hover {
  color: #fff;
  width: 120px;
}

.social .button:nth-child(1):hover .icon {
  color: #fff;
  background: #4267b2;
}

.social .button:nth-child(2):hover .icon {
  background-image: linear-gradient(#1a1a46, #1d1daf);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social .button:nth-child(3):hover .icon {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #fff;
}

.social .button:nth-child(4):hover .icon {
  background: linear-gradient(
    to right,
    #4285f4,
    #bb001b,
    #ea4335,
    #fbbc05,
    #34a853
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social .button .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  box-sizing: border-box;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease-in;
}

.social .button .icon i {
  font-size: 1.5rem;
  line-height: 40px;
  color: #111;
  transition: all 0.3s ease-out;
}

.social .button .icon:hover i {
  color: #fff;
}

.social .button span {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.social .button:nth-child(1):hover span {
  color: #1473e6;
}

.social .button:nth-child(2):hover span {
  color: #1473e6;
}

.social .button:nth-child(3):hover span {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social .button:nth-child(4):hover span {
  background: linear-gradient(
    to right,
    #4285f4,
    #bb001b,
    #ea4335,
    #fbbc05,
    #34a853
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-box{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 50px;
}

.image-box img{
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: bottom 1s, left 1s;
}

.image-box .main-image{
  height: 135%;
}

.image-box:hover .back-image{
  bottom: 40px;
}

.image-box:hover .main-image{
  left: 40px;
}

.project-section{
  min-height: 100vh;
  padding: 150px 100px 100px;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.project-section .heading::after{
  content: "-Some project of me-";
}

.project-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.project-card{
  position: relative;
  background: #eee;
  height: 400px;
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px 15px 30px;
}

.project-card .project--cover{
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}

.project-card:hover .project--cover{
  height: 150px;
  width: 150px;
  left: -75px;
  top: calc(50% - 75px);
}

.project-card .project--cover img{
  max-width: 100%;
  transition: 0.5s ease-in-out;
}

.project-card:hover .project--cover img{
  max-width: 90px;
}

.project__music--thumb{
  width: 200px;
  height: 200px;
  margin: 0 auto 25px;
}

.project__music--thumb img{
  width: 100%;
  height: 100%;
  margin: 10px 0px;
  object-fit: cover;
  border-radius: 8px;
}

.project__music-name{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}


.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 20px;
} 
.duration,
.remaining {
  color: #999;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 50px;
}

.play {
  position: relative;
}

.play::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right bottom, #ff6bcb, #ffb86c);
  transform: scale(1.2);
  border-radius: 100rem;
}

.player-inner {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 2.5rem;
  position: relative;
  z-index: 2;
}

.play-infinite,
.play-repeat,
.play-back,
.play-forward {
  cursor: pointer;
}

.play-back,
.play-forward {
  font-size: 1.6rem;
}

.range {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #20e3b2;
  width: 12px;
  height: 12px;
  border-radius: 100rem;
  margin-top: -4px;
  box-shadow: 0 0 0 3px white, 0 0 0 6px rgba(100, 100, 111, 0.05);
}

.play-infinite,
.play-repeat {
  font-size: 2rem;
}

.project-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
  /* background: #ccc; */
}

.project-content{
  position: relative;
  padding: 40px;
  color: #111;
  transition: .5s;
  opacity: 0;
}

.project-title{
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.project-Infor{
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.project-btn{
  height: 40px;
  text-transform: capitalize;
  font-size: 1.8rem;
  border: none;
  display: block;
  margin: 0 auto;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.project-card:hover .project-img{
  filter: blur(10px);
}

.project-card:hover .project-content{
  opacity: 1;
}

/* about style  */
.about-section{
  min-height: 100vh;
  padding: 150px 100px 100px;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

/* Contact Style */
.contact-section .heading::after{
  content: "-Get in Touch-";
}

.contact-section{
  min-height: 100vh;
  padding: 150px 100px 100px;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.contact-section .contact-content{
  display: flex;
}

.contact-section .contact-content .text{
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-section .contact-content p{
  font-size: 1.5rem;
  line-height: 20px;
}

.contact-section .contact-content .rows{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact-section .contact-content .icons{
  margin: 20px 0;
  font-size: 1.5rem;
}

.contact-section .contact-content .rows .infor{
  line-height: 2rem;
  margin-left: 30px;
}

.contact-section .contact-content .rows i{
  font-size: 2.5rem;
  color: crimson;
}

.contact-section .contact-content .rows .infor .head{
  font-weight: 500;
}

.contact-section .contact-content .rows .infor .sub-title{
  color: #333;
}

.contact-section .contact-content form .fields{
  display: flex;
}
.contact-section .contact-content form .field,
.contact-section .contact-content form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact-section .contact-content form .textarea{
  height: 80px;
  width: 100%;
}

.contact-section .contact-content form .name{
  margin-right: 10px;
}

.contact-section .contact-content form .email{
  margin-left: 10px;
}

.contact-section .contact-content form .field input,
.contact-section .contact-content form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
}

.contact-section .contact-content form .textarea textarea{
  padding-top: 10px;
  resize: none;
}

.contact-section .contact-content form .button{
  height: 50px;
  width: 170px;
}

.contact-section .contact-content form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-section .contact-content form .button button:hover{
  color: crimson;
  background: #fff;
}